/* Navbar styles */
.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  color: white;
  mix-blend-mode: difference;
  z-index: 2;
}

.info {
  flex: 1;
}

.logo {
  text-align: center;
  font-family: "Canopee";
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  color: #cdc6be;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
}

.burger {
  display: flex;
  justify-content: center;
  padding: 1.75em 2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: var(--top-background);
  transition: all 250ms ease-out;
}

.burger::before {
  transform: translateY(-3px);
}

.burger::after {
  transform: translateY(3px);
}

.active.burger::before {
  transform: translateY(0) rotate(45deg);
}

.active.burger::after {
  transform: translateY(0) rotate(-45deg);
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--top-text-color);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;
  z-index: 1;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu-item p {
  position: relative;
  text-align: center;
  font-family: "Canopee";
  font-size: 15vw;
  line-height: 80%;
  will-change: transform;
  transition: letter-spacing 0.3s;
  color: var(--top-background);
}

.menu-item p:hover {
  letter-spacing: 0.075em;
}

.menu-item p#active::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  background: #c03f13;
  width: 0%;
  height: 12px;
}

.sub-nav {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5em;
  opacity: 0;
}

.sub-nav p {
  font-family: "Canopee";
  font-size: 20px;
}

@media (max-width: 980px) {
  .logo a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    padding: 0 0;
  }
}
