.registry-section-page {
  height: 100vh;
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stack top and bottom containers */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  padding-bottom: 50px;
}

.registry-section-container {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stack top and bottom containers */
  justify-content: center; /* Centers content vertically */
  align-items: center;
}

.registry-title {
  font-size: 50px;
  color: var(--top-text-color);
}

.square-registry-image {
  width: 200px;
}

.registry-paragraphs {
  font-family: var(--roboto);
  color: var(--top-text-color);
  text-align: center;
  max-width: 800px;
  font-size: 23px;
}
.registry-paragraphs > p {
  margin-top: 16px;
}

.payments {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 40px;
}

.payments > div {
  min-width: 250px;
  margin-top: 20px;
}

.modal-body h2 {
  font-size: 26px;
}

.modal-body p {
  font-size: 25px;
  padding-top: 15px;
}

.handle {
  left: 20%;
}

@media only screen and (max-width: 600px) {
  .handle {
    left: 30%;
  }

  .registry-section-page {
    height: auto;
    gap: 0px;
  }

  .registry-title {
    padding-top: 50px;
    font-size: 36px;
    color: var(--top-text-color);
  }

  .registry-section-container {
    width: 90%;
  }

  .registry-paragraphs {
    font-size: 22px;
  }

  .payments {
    width: 80%;
    flex-direction: column;
    gap: 20px;
  }
}
