@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --top-background: #231f20;
  --top-text-color: #fbcbbc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background: var(--top-background);
  font-family: var(--font-editorial-new);
}

#hero-section-container {
  min-height: 100vh;
}

#information-section {
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Prevent content from spilling out */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  background-color: var(--top-background);
}

.video-container {
  overflow: hidden;
  position: relative; /* Create a positioning context */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
}

.video-container video {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none; */
}

#top-half {
  background-color: var(--top-background);
  /* border: 2px solid var(--top-text-color); */
}

#section-title {
  position: relative;
  margin-bottom: 30px;
}

#wedding-text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
  font-family: var(--roboto);
  font-weight: 900;
  color: var(--top-text-color);
}

#wedding-section-date {
  margin: 0;
  line-height: 0.5;
  color: var(--top-text-color);
  /* text-align: right; */
  font-family: var(--roboto);
  position: absolute;
  bottom: -13px;
  right: 0;
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.text-image-info {
  font-weight: 900;
  font-size: 26px;
  text-shadow: 1px 2px black;
  font-family: var(--font-editorial-new);
}

@media only screen and (max-width: 600px) {
  #text-first {
    font-size: 50px;
    line-height: 60px;
  }

  #text-second {
    font-size: 70px;
  }

  #wedding-text {
    font-size: 28px;
    line-height: 30px;
  }

  #section-title {
    margin-bottom: 20px;
  }
  #wedding-section-date {
    font-size: 20px;
  }
}
